@import '../base/colors';
@import '../base/variables';

.comingSoon {
    padding-bottom: 6rem;
    background: bottom center, $gradient1;
    display: block;
    margin: 0 auto;
}

@media (min-width: $medium-break) {
    .comingSoon {
        display: grid;
        grid-template-columns: 4fr 3fr;
        grid-template-areas: 
            'header hero'
            'content hero'
            'form hero';
        padding-bottom: 0;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
        background-color: $gradient1;
    }
}